/* 第三題 */
body{
	background-color: aliceblue;
	font-family:monospace;
}

h1 {
	text-align: left;
	font-size: 50px;
	letter-spacing: 8px;
	margin: 0.1 18rem;
	animation: fadeInUp;
	animation-duration: 1.5s;
}

#result {
	text-align: left;
	font-size: 30px;
	letter-spacing: 8px;
	margin: 0.1 18rem;
	animation-duration: 1.5s;
	transition: color .15s ease-in-out,
			background-color .15s ease-in-out,
			border-color .15s ease-in-out,
			box-shadow .15s ease-in-out;
}

button {
	padding-right: 65px;
		margin: 12px 24px;
		text-align: left;
		vertical-align: middle;
		padding: 2px 13px;
		font-size: 20px;
		line-height: 40px;
		min-height: 55px;
		background-color: rgb(175, 209, 229);
		border-radius: 8px;
		cursor: pointer;
		box-shadow: 2px 2px 3px grey;
		border: none;
		letter-spacing: 2px;
		position: relative;
}



#reset{
	text-align: center;
	font-size: 30px;
	letter-spacing: 8px;
	margin: 0.1 18rem;
	animation: fadeInUp;
	animation-duration: 1.5s;

}

#twdAmount {
	text-align: center;
	font-size: 30px;
	letter-spacing: 8px;
	margin: 0.1 18rem;
	animation: fadeInUp;
	animation-duration: 1.5s;

}

input {
	text-align: center;
	font-size: 30px;
	letter-spacing: 8px;
	margin: 0.1 18rem;
	animation: fadeInUp;
	animation-duration: 1.5s;
	float: inline-end;
}